{% extends 'base.html'  %}


{% block sidebar %}

     {% for letter in alphabetList %}
     {% if letter != 'X' %} <!--Skip the letter X -->
    
     <h4> {{letter}}</h4>
   
      <div>
        
      {% for item in country_name %}
      
      <!--Jinja supports Python’s string manipulation syntax, so we can leverage that for our sentence casing, ex. word[0:1]-->
          {% if item[0:1] == letter %}
     
                   <!--{{loop.index}} gets the index from "countries" list--> 
          <p><a href="{{ url_for('country_view', name_arg=item) }}" id="{{loop.index}}" onclick="findCountryName(id)" >{{item}}</a></p>
        
       
      {% endif %}

    {% endfor %} 
       </div>
   
    
    {% endif %}
  {% endfor %}  
    
{% endblock %}